<div class="info">
  <div class="top">
    <time class="submitted pull-right">
      <h3><small>
        <%= submission.escape('submitted') %>
      </small></h3>
    </time>
    
    <div class="submitter-name">
      <span class="display-name">
        <h3>
          <small>
            <a href="<%= submission.submitter().link() %>">
              <%= submission.submitter().escape("display_name") %>
            </a>
          </small>
        </h3>
      </span> 
    </div>
  </div>

  <h2>
    <div class="play-button pull-left">
      <span class="glyphicon glyphicon-play"></span>
    </div>

    <div class="title">
      <a href="<%= submission.link() %>">
        <%= submission.escape("title") %>
      </a>
    </div>
  </h2>
</div>