<%= form_tag session_path do %>
  <% fields_for :session do |s| %>
    <div class="form-group">
      <%= s.label :email_address %>
      <%= s.text_field :email_address, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= s.label :password %>
      <%= s.password_field :password, class: 'form-control' %>
    </div>
  
    <%= s.submit 'Sign in', class: 'btn btn-primary' %>
  <% end %>
<% end %>