<%= form_for user, url: user_path do |u| %>
  <%= fields_for :profile, @user.profile do |p| %>
    <div class="form-group">
      <%= p.text_field :display_name, class: 'form-control', placeholder: 'Display name' %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= u.text_field :email_address, class: 'form-control', placeholder: 'Email address' %>
  </div>
  
  <div class="form-group">
    <%= u.password_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>
  
  <%= u.submit 'Sign up', class: 'btn btn-primary' %>
<% end %>