<div class="media">
<img src="<%= WavPool.s3Url(submission.escape("image_url")) %>" class="img-responsive media-object pull-left" width="64" height="64" />
  <div class="media-body">
    <h4 class="media-heading">
      <a href="#/submissions/<%= submission.id %>"><%= submission.escape('title') %></a>       
      
      <% if (showProfile) { %>
        <small>
          <% if (submission.get("profile")) { %>
          by <a href="#/profiles/<%= submission.get("profile").id %>"><%= submission.get("profile").name %></a>
          <% } %> 
        </small>      
      <% } %>
      <br>
      <time><small>uploaded <%= submission.timestamp() %></small></time>
    </h4>
    <audio id="audio" src="<%= WavPool.s3Url(submission.escape('remote_url')) %>" preload="metadata" controls></audio>
    
    <br>
    
    <% if (submission.isOwnedByCurrentUser()) { %>
    <a class="btn btn-default btn-xs" href="#/submissions/<%= submission.id %>/edit">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <% } %>
    <a class="btn btn-default btn-xs" href="<%= submission.getShareUrl() %>">
      <span class="glyphicon glyphicon-share"></span>
    </a>
    <a class="btn btn-default btn-xs" href="#" disabled>
      <span class="glyphicon glyphicon-download"></span>
    </a>
    <a class="btn btn-default btn-xs like-button" href="#">
      <span class="glyphicon glyphicon-heart"></span>
    </a>
    
    <% if (showDescription) { %>
      <p><%= submission.get("description") %></p>
    <% } %>
  </div>
</div>

<hr>