<div class="media">
<img src="<%= WavPool.s3Url(submission.escape("image_url")) %>" class="img-responsive media-object pull-left" width="64" height="64" />
  <div class="media-body">
    <h4 class="media-heading">
      <%= submission.escape('title') %>
      <% if (showExtendedInfo) { %>
        <small>
          <% if (submission.get("profile")) { %>
          by <a href="#/profiles/<%= submission.get("profile").id %>">
            <%= submission.get("profile").name %>
          </a>
          <% } %> 
        </small>
      <% } %>
      <br>
      <time><small>uploaded <%= submission.timestamp() %></small></time>
    </h4>
    <audio id="audio" src="<%= WavPool.s3Url(submission.escape('remote_url')) %>" controls></audio>
    <% if (showExtendedInfo) { %>
      <p><%= submission.get("description") %></p>
    <% } %>
  </div>
</div>

<hr>