<h3>Profile</h3>
<hr>

<form class="directUpload">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <!-- Don't hit S3 unless we've loaded the model fully -->
      <% if (profile.attributes.picture_url) { %>
        <img src="<%= WavPool.s3Url(profile.escape("picture_url")) %>" width="180" height="180" class="img-responsive upload-preview" />
      <% } %>
      <input type="file" name="profile[picture_url]" class="form-control upload-field"  />
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="form-group">
        <label for="profile_display_name">Username</label>
        <input
          type="text"
          name="profile[display_name]"
          id="profile_display_name"
          class="form-control"
          value="<%= profile.escape('display_name') %>">
          <p class="help-block">
            Your name, artist name, or company name. You may change this at any time.
          </p>
      </div>
    </div>
  </div>
  
<h4>Personal</h4>
<hr>

  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="form-group">
        <label for="profile_full_name">Full name</label>
        <input
          type="text"
          name="profile[full_name]"
          id="profile_full_name"
          class="form-control"
          value="<%= profile.escape('full_name') %>">
      </div>

      <div class="form-group">
        <label for="profile_location">Location</label>
        <input
          id="profile_location"
          type="text"
          name="profile[location]"
          class="form-control"
          value="<%= profile.escape('location') %>">
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-7">
      <div class="form-group">
        <label for="profile_description">Description</label>
        <textarea
          id="profile_description"
          name="profile[description]"
          class="form-control"
          rows="5"><%= profile.escape('description') %></textarea>
      </div>
    </div>
  </div>
  
  <hr>

  <button class="btn btn-primary pull-right">Save</button>
</form>