<div class="inline-alerts"></div>

<div class="col-md-3">
  <h3>
  <%= profile.escape('display_name') %><br>
  </h3>
  
  <h4>
    <small><%= profile.escape('full_name') %></small>
    <br>
    <small><%= profile.escape('location') %></small>
  </h4>

  <p><%= profile.escape('description') %></p>
  
  <% if (profile.id === WavPool.profileId) { %>
    <a href="#/profile/edit" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    </a>
  <% } %>
  <a href="<%= document.URL %>" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-globe"></span>
    Share
  </a>
</div>

<div class="col-md-5">
  <!-- Stream goes here -->
</div>

<div class="col-md-4">
  <!-- Stats and links go here -->
</div>