<!DOCTYPE html>
<html>
<head>
  <title>WavPool</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<header>
  <%= render partial: 'layouts/navbar' %>
</header>

<div class="alerts container">
</div>

<main class="container">
  <%= yield %>
</main>

<script>
$(function () {
  WavPool.initialize({
    profileId: <%= current_user.profile.id rescue 0 %>,
    s3Bucket: "<%= S3_BUCKET.url %>"
  });
});
</script>

</body>
</html>
